<a href="https://colab.research.google.com/github/Micilvania/Python/blob/main/Mod_3_Aula2_27_8_22_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A formação de um Data Frame é muito semelhante à formação de uma série, com o acrescimo de colunas, já que um "df" é uma tabela. Constitui-se assim: df = pd.DataFrame(data, index, columns) - Lembrar das nosssas matrizes em Numpy: uma matriz tabela, ou simplesmente matriz, pode ser convertida em um Data Frame.

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [10, 11, 12]]

In [5]:
dados = np.matrix(data)

Vamos ganhar agilidade criando a mesma matriz da seguinte forma. Observe que as linhas foram separadas por "**;**" (nesse exemplo, a cada três valores)

In [6]:
meusDados = np.matrix('1, 2, 3; 4, 5, 6; 7, 8, 9; 10, 11, 12')
meusDados

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

Já que temos uma matriz (ou seja, temos linhas e colunas), ela pode ser transformada diretamente em um Darta Frame

In [9]:
pd.DataFrame(meusDados)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

Criamos nosso Data Frame. Agora tente o seguinte

In [8]:
meusDados

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

In [10]:
pd.DataFrame(meusDados)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [11]:
meuDF = pd.DataFrame(meusDados)

In [12]:
type(meuDF)

pandas.core.frame.DataFrame

Para verificar os tipos de dados do nosso Data Frame

In [13]:
meuDF.dtypes

0    int64
1    int64
2    int64
dtype: object

Para vermos mais informações de todo o Data Frame de forma simples, temos o .info()

In [14]:
meuDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      int64
 1   1       4 non-null      int64
 2   2       4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes

Modificando o tipo das variáveis com **astype()** é muito comum que, carregarmos nossas bases de dados, precisamos modificar o tipo dos dados para conseguir trabalhar com eles. Modificando o tipo de dados de todo o df:

In [15]:
meuDF.astype(float)

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [16]:
meuDF

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

Para salvar as nossas informações

In [17]:
meuDF = meuDF.astype(float)
meuDF

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [18]:
meuDF[1] = meuDF[1].astype(str)
meuDF

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [19]:
meuDF.dtypes

0    float64
1     object
2    float64
dtype: object

É muito comum usarmos em seguida o head, para sabermos como está visualmente nosso Data Frame. o head, por padrão, nos dá as 5 primeiras linhas, mas podemos passar um valor como parâmetro dentro dos parênteses para que ele exiba mais

In [20]:
meuDF.head

<bound method NDFrame.head of       0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0>

In [21]:
meuDF.head(2)

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

De forma semelhantes ao head, o tail serve para verificarmos as últimas linhas do Data Frame .

In [22]:
meuDF.tail()

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [23]:
meuDF.tail(2)

      0     1     2
2   7.0   8.0   9.0
3  10.0  11.0  12.0

Usando .describe() - como mágica, digitando essas poucas letras temos um "resumo" estatístico do nosso Data Frame.

In [24]:
meuDF.describe()

               0          2
count   4.000000   4.000000
mean    5.500000   7.500000
std     3.872983   3.872983
min     1.000000   3.000000
25%     3.250000   5.250000
50%     5.500000   7.500000
75%     7.750000   9.750000
max    10.000000  12.000000

Mesmo com nosso Data Frame já criado, podemos deixá-lo mais organizado, criando seu index:

In [25]:
indice = ['Linha' + str(i) for i in range(4)]

In [26]:
colunas = ['Coluna' + str(i) for i in range(3)]

In [27]:
df2 = pd.DataFrame(data=meusDados, index= indice, columns=colunas)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9
Linha3       10       11       12

In [29]:
df2 = pd.DataFrame(meusDados, indice, colunas) # forma simplificada
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9
Linha3       10       11       12

In [30]:
df3 = {'Coluna0' : {'Linha0' : 1, "Linha1" : 4, 'Linha2' : 7},
       'Coluna1' : {'Linha0' : 2, "Linha1" : 5, 'Linha2' : 8},
       'Coluna2' : {'Linha0' : 3, "Linha1" : 6, 'Linha2' : 9}
            }
df3

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [32]:
df3 = pd.DataFrame(df3)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

Agora vamos Concatenar alguns dos Data Frame que criamos até aqui.

In [33]:
df4 = pd.concat([meuDF, df2, df3])
df4

           0     1     2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0
Linha3   NaN   NaN   NaN     10.0     11.0     12.0
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0

Algumas vezes será fundamental substituir valores NaN pela média (estatística). Outras vezes isso pode ser perigoso. A depender da situação, da suas escolhas como cientista de dados, você poderá tratá-los substituindo pela média, mediana, etc, ou simplesmente excluí-los.

In [34]:
df4.isnull() #isnull serve para mostrar os valores nulos.

            0      1      2  Coluna0  Coluna1  Coluna2
0       False  False  False     True     True     True
1       False  False  False     True     True     True
2       False  False  False     True     True     True
3       False  False  False     True     True     True
Linha0   True   True   True    False    False    False
Linha1   True   True   True    False    False    False
Linha2   True   True   True    False    False    False
Linha3   True   True   True    False    False    False
Linha0   True   True   True    False    False    False
Linha1   True   True   True    False    False    False
Linha2   True   True   True    False    False    False

In [35]:
df4.isnull().sum() #Como na "vida real" teremos alguns milhões de valores -  sum = somar

0          7
1          7
2          7
Coluna0    4
Coluna1    4
Coluna2    4
dtype: int64

Fillna: leia comom um "filtrar Not A Number". Para filtrar os valores válidos das colunas

In [36]:
df4.fillna

<bound method DataFrame.fillna of            0     1     2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0
Linha3   NaN   NaN   NaN     10.0     11.0     12.0
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0>

In [37]:
df5 = df4.fillna(df4.mean())
df5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

           0     1     2    Coluna0    Coluna1    Coluna2
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5  10.000000  11.000000  12.000000
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000

Fillna - substituindo todos os valores NaN do nosso Data Frame pela média dos valores válidos das colunas

**Dropna** -  É o "último recurso" quando não foi possível tratar os valores NaN ou o tratamento mais prejudicava que ajudava. Muita atenão ao utilizar esse recurso. "Pandas, no Data Frame df4 Drop (deleta) not a numbers no lugar onde eles forem verdadeiros."

In [39]:
df4.dropna(inplace = True)
df4

Empty DataFrame
Columns: [0, 1, 2, Coluna0, Coluna1, Coluna2]
Index: []

Cpiando uma Data Frame

In [38]:
df8 = df5.copy()

In [40]:
df5.dropna(subset = [1], inplace = True)
df5

      0     1     2   Coluna0   Coluna1   Coluna2
0   1.0   2.0   3.0  4.857143  5.857143  6.857143
1   4.0   5.0   6.0  4.857143  5.857143  6.857143
2   7.0   8.0   9.0  4.857143  5.857143  6.857143
3  10.0  11.0  12.0  4.857143  5.857143  6.857143

Drop - deletando colunas interiras - Escolhemos a "Coluna0"

In [41]:
df6 = df5.drop(columns = ['Coluna0'])
df6

      0     1     2   Coluna1   Coluna2
0   1.0   2.0   3.0  5.857143  6.857143
1   4.0   5.0   6.0  5.857143  6.857143
2   7.0   8.0   9.0  5.857143  6.857143
3  10.0  11.0  12.0  5.857143  6.857143

Deletando linhas inteira - Escolhemos a lina 2

In [42]:
df7 = df6.drop(index = [2])
df7

      0     1     2   Coluna1   Coluna2
0   1.0   2.0   3.0  5.857143  6.857143
1   4.0   5.0   6.0  5.857143  6.857143
3  10.0  11.0  12.0  5.857143  6.857143

Valores únicos - para saber os valores únicos em uma coluna

In [43]:
df5.Coluna2.unique()

array([6.85714286])

Podemos usá-los para saber as colunas ou o índice do nosso DF

In [45]:
df5.columns.unique()

Index([0, 1, 2, 'Coluna0', 'Coluna1', 'Coluna2'], dtype='object')

In [46]:
df5.index.unique()

Index([0, 1, 2, 3], dtype='object')

Usando sort_values() - serve para "ordenar por" - escolhemos o que ordenar primeiramente, então, passamos nos parênteses. Aqui escolhemos ordenar pela "Coluna1". Muito útil, por exemplo, para ordenar uma tabela a partir das idades.

In [47]:
df8.sort_values(by = 'Coluna1')

           0     1     2    Coluna0    Coluna1    Coluna2
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5  10.000000  11.000000  12.000000

Renomeando colunas e linhas(index) com df.rename() - Para coluna

In [48]:
df8.rename(columns = {'Coluna1' : 'COLUNA1'}, inplace = True)
df8

           0     1     2    Coluna0    COLUNA1    Coluna2
0        1.0   2.0   3.0   4.857143   5.857143   6.857143
1        4.0   5.0   6.0   4.857143   5.857143   6.857143
2        7.0   8.0   9.0   4.857143   5.857143   6.857143
3       10.0  11.0  12.0   4.857143   5.857143   6.857143
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5  10.000000  11.000000  12.000000
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000

Para renomear v´[arias colunas

In [52]:
df8.rename(columns = {0: 'janeiro', 1: 'fevereiro', 2: 'março', 'coluna 0': 'abril', 'coluna 1': 'maio', 'coluna 2': 'junho', 'coluna0': 'julho', 'COLUNA1': 'agosto', 'coluna2' : 'setembro'}, inplace = True)
df8

        janeiro fevereiro  março    Coluna0     agosto    Coluna2
0           1.0       2.0    3.0   4.857143   5.857143   6.857143
1           4.0       5.0    6.0   4.857143   5.857143   6.857143
2           7.0       8.0    9.0   4.857143   5.857143   6.857143
3          10.0      11.0   12.0   4.857143   5.857143   6.857143
Linha0      5.5       NaN    7.5   1.000000   2.000000   3.000000
Linha1      5.5       NaN    7.5   4.000000   5.000000   6.000000
Linha2      5.5       NaN    7.5   7.000000   8.000000   9.000000
Linha3      5.5       NaN    7.5  10.000000  11.000000  12.000000
Linha0      5.5       NaN    7.5   1.000000   2.000000   3.000000
Linha1      5.5       NaN    7.5   4.000000   5.000000   6.000000
Linha2      5.5       NaN    7.5   7.000000   8.000000   9.000000

Para várias linhas - Deletando primeiramente o restante dos valores nulos

In [53]:
df8.dropna(subset = ['fevereiro'], inplace = True)
df8

   janeiro fevereiro  março   Coluna0    agosto   Coluna2
0      1.0       2.0    3.0  4.857143  5.857143  6.857143
1      4.0       5.0    6.0  4.857143  5.857143  6.857143
2      7.0       8.0    9.0  4.857143  5.857143  6.857143
3     10.0      11.0   12.0  4.857143  5.857143  6.857143

Agora vamos renomear as linhas restantes

In [54]:
df9 = df8.rename(index = {0: 'Elon Musk', 1: 'Bill Gates', 2: 'Bernard Arnault', 3: 'Mark Zuckerberg'})
df9

                 janeiro fevereiro  março   Coluna0    agosto   Coluna2
Elon Musk            1.0       2.0    3.0  4.857143  5.857143  6.857143
Bill Gates           4.0       5.0    6.0  4.857143  5.857143  6.857143
Bernard Arnault      7.0       8.0    9.0  4.857143  5.857143  6.857143
Mark Zuckerberg     10.0      11.0   12.0  4.857143  5.857143  6.857143

Reiniciando o index com reset_index() - Para várias linhas

In [55]:
df8.reset_index()

   index  janeiro fevereiro  março   Coluna0    agosto   Coluna2
0      0      1.0       2.0    3.0  4.857143  5.857143  6.857143
1      1      4.0       5.0    6.0  4.857143  5.857143  6.857143
2      2      7.0       8.0    9.0  4.857143  5.857143  6.857143
3      3     10.0      11.0   12.0  4.857143  5.857143  6.857143

Contando valores com value_counts()

In [56]:
df8.value_counts('março')

março
3.0     1
6.0     1
9.0     1
12.0    1
dtype: int64

Value counts para obter o total de colunas

In [57]:
df8.columns.value_counts().sum()

6

Value counyts para o total de linhas

In [58]:
df8.index.value_counts().sum()

4